header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  nav {
    ul {
      display: grid;
      grid-template-columns: 100px 100px 100px 200px;
      margin: 0;

      li {
        display: flex;
        font-size: 12.5px;
        text-align: center;
        justify-content: center;

        a {
          margin: auto;
          text-decoration: none;
          color: white;
          position: relative;

          &::after {
            content: '';
            position: absolute;
            bottom: -2px;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 2px;
            background-color: white;
            transition: width 0.3s ease;
          }

          &:hover::after {
            width: 50%;
          }
        }
      }

      li:nth-child(4) {
        margin: auto;
        font-size: 11px;
        height: 37px;
        width: 104px;
        background: linear-gradient(90deg, rgba(185, 54, 245, 0.51), rgba(198, 76, 133, 0.49), rgba(241, 0, 91, 0.56));
        border-radius: 5px;

        a {
          display: flex;
          text-align: center;
          justify-content: center;
          margin: auto;
        }
      }
    }
  }
}
